.menu{
    margin-left: 100px;
    margin-top: 20px;
    color:rgb(245, 4, 4);
    font-family:"Times New Roman", 'Times New Roman', Times, serif;
    font-size:20px;
    display: inline-block;
    font-weight:700;
}
.menu:hover{
    color:gray;
}
.title
{
    margin-left: 350px;
    width: 800px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 45px;
    margin-top: 100px;
    display:block;
}
.under_title{
    color:gray;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    margin-top: 30px;
    margin-bottom: 40px;
    display: inline-block;

}
.first{
    margin-left: 200px;
}
.image{
    width: 1000px;
    display: block;
    margin: 0 auto;
}
.description{
    width: 1000px;
    display: block;
    margin: 50px auto;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    color: rgb(0, 0, 0);
}
header{
    position: sticky;
    top: 0;
    background-color: blanchedalmond;
}
.subscribe{
    padding: 10px;
    background-color: blanchedalmond;
}
.subscribe input{
    width: 200px;
    padding: 5px;
}
.subscribe button{
    background-color: bisque;
    border: none;
    padding: 5px 10px;
    color:black;
    font-weight: bold;
}
.review{
    margin-top: 50px;
    border: 1px solid black;
    padding: 20px;

}
.rating{
    font-size: 24px;
    margin-bottom: 10px;
}
.star{
    color:brown;
}
input[type="text"], select,textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid black;
    margin-top: 10px;
    margin-bottom: 20px;
} 